* {
   font-size: 0.8em / 1;
}

body {
   background-color:#04519b;
   background-image:
    linear-gradient(
      #04519b, #044687 60%, #033769
    );
    color:#FFF;
}

.navbar-inverse {
   background-color:#04519b;
   background-image:
    linear-gradient(
      #04519b, #044687 60%, #033769
    );
    border:0;
}

.jumbotron {
   background:#FFF;
   color:#000;
   margin-bottom:0;
   padding-bottom:10px;
}

.jumbotron h1, .jumbotron .h1 {
   font-size: 2em;
   font-style:italic;
}

.jumbotron p {
   font-size:1.1em;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
   color:#FFF;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   background:none;
   border-bottom:4px solid #FFF;
   }
